<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <title>ONLINE WEATHER</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static "Weather/style.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "BS/css/bootstrap.min.css" %}">
    <link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "Weather/style.css" %}">
    <script src="{% static "Weather/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "Weather/js/plugins.js" %}"></script>
    <script src="{% static "Weather/js/app.js" %}"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <a href="{% url "index"%}" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Daily Dose</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class='navbar-nav ml-auto text-dark' style='font-size:15px;'>
                    <a href="{% url "index"%}" class='nav-link'>
                      <li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
                    </a>
                    <a href="{% url "days"%}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>3 Days Weather</span></li>
                    </a>
                    <a href="{% url "current"%}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Current Location Weather</span></li>
                    </a>
                    <a href="{% url "Weather:feed" %}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fas fa-phone-square" style='font-size:22px;'></i><span style='margin-left:5px;'>Contact Us</span></li>
                    </a>
                    <a href="{% url "WordDict:dict" %}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
                    </a>
                  </ul>
            </div>
          </nav>

          <!-- <nav class='navbar navbar-expand navbar-light bg-light fixed-top'>
            <a href="#" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Weather</span></a>
            <ul class='navbar-nav ml-auto text-white' style='font-size:20px;'>
              <a href="{% url "index"%}" class='nav-link'>
                <li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
              </a>
              <a href="#con" class='nav-link'>
                <li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>Feedback</span></li>
              </a>
              <a href="{% url "WordDict:dict" %}" class='nav-link'>
                <li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
              </a>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <div class="container-fluid text-dark mt-5 mb-5">
      <div class="row" style='background-color:#dfe6e9;padding:35px;border-radius:10px;'>
        <div class="col-ml-12">
          <h2 id="content">Dictionary</h2>
          <form method="get" class='ml-auto'>
            {{ form.as_p }}
            <button type="submit">search</button>
          </form>

          {% if search_result %}
            <hr>
            {% if search_result.success %}
              {% for result in search_result.results %}
                <h1>{{ result.word }}</h1>
                {% for lexicalentry in result.lexicalEntries %}
                  <br><strong>{{ lexicalentry.lexicalCategory }}</strong>
                  <ul type=none>
                    {% for entry in lexicalentry.entries %}
                      {% for sense in entry.senses %}
                        {% for definition in sense.definitions %}
                        <li><i>{{ definition }}</i></li>
                        {% endfor %}
                        <li><strong>Examples :-</strong></li>
                        {% for eg in sense.examples %}
                        <li>{{ eg.text }}</li>
                        {% endfor %}
                        <br/>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                {% endfor %}
              {% endfor %}
            {% else %}
              <p><em>{{ search_result.message }}</em></p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>


  </body>
</html>
