<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Search City</title>

		<!-- Loading third party fonts -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static "Weather/style.css" %}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
		<style media="screen">
			.abc:visited{
				text-decoration:underline;
				color:red;
			}

		</style>
		<script>
		$(document).ready(function(){
			$(window).scroll(function(){
				$('#hero').fadeIn(2000);
				$('#ab').fadeIn(3000);
				$('#weather').fadeIn(4000);
				$('#gallery').fadeIn(5000);
				$('#sc').fadeIn(5000);
			});
		});
		</script>

	</head>

	<body class="" style="background-image: url('{% static 'Weather/images/b1.jpg' %}');background-size: 100% 100%;background-attachment:fixed;">
		<!-- START THIS -->
		<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
		  <a href="{% url "index"%}" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Daily Dose</span></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class='navbar-nav ml-auto text-dark' style='font-size:15px;'>
					<a href="{% url "index"%}" class='nav-link'>
						<li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
					</a>
					<a href="{% url "days"%}" class='nav-link'>
							<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>3 Days Weather</span></li>
						</a>
					<a href="{% url "current"%}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Current Location Weather</span></li>
					</a>
					<a href="{% url "latestnews"%}" class='nav-link'>
							<li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Latest News</span></li>
					</a>
					<a href="{% url "Weather:feed" %}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-phone-square" style='font-size:22px;'></i><span style='margin-left:5px;'>Contact Us</span></li>
					</a>
					<a href="{% url "WordDict:dict" %}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
					</a>
				</ul>
		  </div>
		</nav>
		<!-- END THIS -->
		<!-- <nav class='navbar navbar-expand navbar-light bg-light'>
			<a href="{% url "index"%}" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Weather</span></a>
			<ul class='navbar-nav ml-auto text-white' style='font-size:20px;'>
				<a href="{% url "index"%}" class='nav-link'>
					<li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
				</a>
				<a href="#abc" class='nav-link'>
					<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>About Us</span></li>
				</a>
				<a href="#Scientists" class='nav-link'>
					<li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Our Scientists</span></li>
				</a>
				<a href="{% url "Weather:feed" %}" class='nav-link'>
					<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-phone-square" style='font-size:22px;'></i><span style='margin-left:5px;'>Contact Us</span></li>
				</a>
				<a href="{% url "WordDict:dict" %}" class='nav-link'>
					<li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
				</a>
			</ul>
		</nav> -->
		{% block body %}
		<div class="site-content">
			<header class="hero" data-bg-image="{% static "Weather/images/w3.jpg" %}">
				<div class="container" >
					<div class="hero-content text-light">
						<h1 id="content">Easy way to search your City Weather<br><strong>Simple and powerful</strong></h1>
					</div>
					<h5 class="" style="font-family:Bahnschrift Condensed;">City Name must Write as Title (i.e.:With first letter Capital,eg: Las Vegas)</h5>
					<form class="subscribe-form" method="POST">
						{% csrf_token %}
						{{ form.name }}
						<input type="submit"  value="Add City">
					</form>

					<span class="scrolldown">Scroll down to explore <br><i class="fa fa-chevron-down"></i></span>
				</div>
			</header> <!-- hero -->
			<div class="container-fluid py-5 my-2 bg-light" id='abc'>
				<div class="row py-5" style='display:none;'
					<div class="col-md-12">
						<h1 class='text-danger text-center'> Here is something about Weather</h1>
					</div>
					<div class="col-md-4 p-3" style='height:auto; font-family:cursive;'>
						<div class="content p-4" style="border-radius:10px; background-color:#efd873;">
							<h2 class='text-center text-danger pt-2' ><span class='text-danger'><i class="fas fa-cloud-download-alt"></i></span> Current Weather</h2>
							<h3 class='text-light'> We are providing current weather details of all cities world-wide. Get the
							correct live weather of your city at anytime anywhere along with full details of weather and map.</h3>
							<div class='text-center'><a href="#weather" class='btn btn-danger  mx-auto'> &#8595;&#8595; Get Weather </a></div>
						</div>
					</div>
					<div class="col-md-4 p-3" style='height:auto; font-family:monospace'>
						<div class="content p-4" style="border-radius:10px; background-color:#b2f4a6;">
							<h2 class='text-center text-success pt-2' ><span class='text-success'><i class="far fa-clock"></i></span> Amazing History </h2>
							<h3 class='text-light'> Improve your Knowledge with the Amazing facts and History of the weather. There are some facts about weather , Get it by Single Click!!!</h3>
							<div class='text-center'><a href="#hist" class='btn btn-success mx-auto'> &#8595;&#8595; Get History </a></div>
						</div>
					</div>

					<div class="col-md-4 p-3" style='height:auto; font-family:courier'>
						<div class="content p-4" style="border-radius:10px; background-color:#afeded;">
							<h2 class='text-center text-info pt-2' ><span class='text-info'><i class="fas fa-file-signature"></i></span> Get in touch</h2>
							<h3 class='text-light'> Leave your anonymous feedback, your views, suggessions, and other information and becomes our favourite visitors.  Get connect with a single click!!!</h3>
							<div class='text-center'><a href="{% url "Weather:feed" %}" class='btn btn-info mx-auto'> &#8595;&#8595; Get Weather </a></div>
						</div>
					</div>
				</div>
			</div>

				<div class="fullwidth-block my-5" id='weather' style='display:none; background-image:url("{% static "Weather/images/img3.jpg" %}"); background-attachment:fixed;background-size:100% 100%; '>
					<div class="container">
						<h1 class='text-center text-danger py-3' style='font-weight:bold; font-family:cursive; background:rgba(255,0,0,0.1)'>Have a look at current weather!!!</h1>
						<div class="row">
							{% for weather in weather_data %}
							<div class="col-sm-4">
								<div class="pricing featured">
									<div class="pricing-header">
										<article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                            </figure>
                        </div>
										<div class="price text-dark">
											<span class="title"><strong>{{ weather.city|title }}</strong></span>
											<br>
											<span class="subtitle"><strong>{{ weather.temperature }}° C</strong></span>
											<br> {{ weather.description|title }}
										</div>
									</div>
									<div class="pricing-checklist text-dark">
										<ul>
											<li class="check">Pressure : {{ weather.pressure }} hpa </li>
											<li class="check">Humidity : {{ weather.humidity }} %</li>
											<li class="check">Clouds : {{ weather.clouds }} %</li>
											<li class="check">Wind : {{ weather.wind }} m/s </li>
											<li class="check">Latitude : {{ weather.latitude }}</li>
											<li class="check">Longitude : {{ weather.longitude }}</li>
											<li class="check">Country : {{ weather.country }}</li>
											<form class="" action="" method="post">
												{% csrf_token %}
												<li class="check"><a href="https://open.mapquestapi.com/staticmap/v5/map?key=SmG71tZTSw5l2rXpFspwnYQq7Vy0jJPO&center={{ weather.latitude }},{{ weather.longitude }}&size=@2x" class='btn btn-info'>Map</a></li>
												<li class="check"><a href="{% url "Weather:delete_city" id=weather.id %}" class='btn btn-danger'>Delete</a></li>
											</form>
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->
				<div class="container-fluid bg-light p-5 my-5" id='hist'>
					<div class="row">
						<div class="col-md-12">
							<h1 class='text-center text-danger py-3' style='font-weight:bold; font-family:cursive; background:rgba(255,0,0,0.1)'>Here are Amazing facts about weather that you may never hear!!!</h1>
						</div>
						<div class="container">
							<div class="row m-5">
								<div class="col-md-6">
									<iframe width="100%" height="315" src="https://www.youtube.com/embed/x-Batkh7yqk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="315" src="https://www.youtube.com/embed/F_Z99gnW2c8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></iframe>
								</div>
							</div>
							<div class="row m-5">
								<div class="col-md-6">
									<iframe width="100%" height="315" src="https://www.youtube.com/embed/bA5bsTePVuE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="315" src="https://www.youtube.com/embed/99gnZNZNAYA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- START SECTION -->
		    	<div class="parallax-overlay"  style="background-color:#00c1c1;opacity:0.9;" id='Scientists'></div>
		    	<div class="container-fluid p-5">
						<div class='container'  id='sc' style='display:none;'>
		    		<div class="row" >
		    			<div class="col-md-12 sol-sm-12">
		    				<div class="maintitle">
									<h1 class='text-center text-danger py-3' style='font-weight:bold; font-family:cursive; background:rgba(255,0,0,0.1)'>Our Scientists</h1>
		    					<p class="text-center">
		    						Have a look at our Scientists.
		    					</p>
		    				</div>
		    			</div>
		        </div>
		        <div class="row">
		          <div class="col-md-4" style='background:rgba(0,255,0,0.3)'>
		            <a href="{% static "Weather/images/small1.jpg" %}" title="Er. Amandeep Kaur" style="text-decoration:none;color:white;">
		                <img src="{% static "Weather/images/small1.jpg" %}" alt="Er. Amandeep Kaur" class="image-responsive" style="width:100% !important; height:330px !important;border-radius:50%;">
		              <div class="description">
		                <h3 class="alert alert-success" style='padding-left:32%;'> Er. Amandeep Kaur</h3>
		                <div class="clearfix"></div>
		              </div>
		            </a>
		          </div>
		          <div class="col-md-4" style='background:rgba(255,0,0,0.3)'>
		            <a href="{% static "Weather/images/small2.jpeg" %}" title="Er. Alex Abram" style="text-decoration:none;color:white;">
		              <img src="{% static "Weather/images/small2.jpeg" %}" alt="Er. Alex Abram" class="image-responsive" style="width:100% !important; height:330px !important; box-sizing:border-box;border-radius:50%;" >
		              <div class="description">
		                <h3 class="alert alert-danger" style='padding-left:34%;'>Er. Alex Abram</h3>
		              </div>
		            </a>
		          </div>
		          <div class="col-md-4" style='background:rgba(0,0,255,0.3)'>
		            <a href="{% static "Weather/images/t3.jpg" %}" title="Dr. Fara Agrawal" style="text-decoration:none;color:white;">
		              <img src="{% static "Weather/images/t3.jpg" %}" alt="Dr. Fara Agrawal" class="image-responsive" style="width:100% !important; height:330px !important;border-radius:50%;">
		              <div class="description">
		                <h3 class="alert alert-info" style='padding-left:34%;'>Dr. Fara Agrawal</h3>
		                <div class="clearfix"></div>
		              </div>
		            </a>
		          </div>
		        </div>


		    		</div>
					</div>
		    </div>
			<!-- .main-content -->
				{% endblock %}
			<footer class="site-footer bg-dark">
				<div class="container">
					<p>SachTech Solution. All rights reserved</p>

					<div class="social-links">
							<a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="https://plus.google.com/" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="https://www.instagram.com/" class="pinterest"><i class="fa fa-instagram"></i></a>
					</div>

				</div>


			</footer>

		<script src="{% static "Weather/js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "Weather/js/plugins.js" %}"></script>
		<script src="{% static "Weather/js/app.js" %}"></script>

	</body>
</html>
