<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Search City</title>

		<!-- Loading third party fonts -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<!-- Loading main css file -->
        <link rel="stylesheet" href="{% static "Weather/style.css" %}">
        
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
		<style media="screen">
			.abc:visited{
				text-decoration:underline;
				color:red;
			}

		</style>
		<script>
		$(document).ready(function(){
			$(window).scroll(function(){
				$('#hero').fadeIn(2000);
				$('#ab').fadeIn(3000);
				$('#weather').fadeIn(4000);
				$('#gallery').fadeIn(5000);
				$('#sc').fadeIn(5000);
			});
		});
		</script>

	</head>

	<body class="" >
		<!-- START THIS -->
		<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
		  <a href="{% url "index"%}" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Daily Dose</span></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class='navbar-nav ml-auto text-dark' style='font-size:15px;'>
					<a href="{% url "index"%}" class='nav-link'>
						<li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
					</a>
					<a href="{% url "days"%}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>3 Days Weather</span></li>
					</a>
					<a href="{% url "current"%}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Current Location Weather</span></li>
                    </a>
                    <a href="{% url "latestnews"%}" class='nav-link'>
                            <li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Latest News</span></li>
                        </a>
					<a href="{% url "Weather:feed" %}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-phone-square" style='font-size:22px;'></i><span style='margin-left:5px;'>Contact Us</span></li>
					</a>
					<a href="{% url "WordDict:dict" %}" class='nav-link'>
						<li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
					</a>
				</ul>
		  </div>
		</nav>
		
        <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid blue;
            border-bottom: 16px solid blue;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            margin:0 auto;
        }
        
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .loading-screen{
            width:100%;
            height:100%;
            background: white;
            line-height: 100%;
            position: absolute;
            z-index: 9999999999999999999999;
            
        }
        
        </style>
		<section>
            <div style="height:100px;"></div>
            <div class="loading-screen">
                <div class="loader"></div>
                <h2 class="text-center mt-5">Loading News Please Wait ...</h2>
            </div>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class='text-center'>Latest News</h1>
                        <hr/>
                    </div>
                </div>
                <div class="row abcd">
                    
                </div>
            </div>
		</section>
			<!-- .main-content -->
		<script>
            $(function(){
                $('.loading-screen').css('display','block');
                let day = new Date().getDate()
                let month = new Date().getMonth() + 1;
                let year = new Date().getFullYear();
                let date = year + "-" + month + "-" + day;
                // alert(date);
                $.ajax({
                    url:'https://newsapi.org/v2/everything?q=bitcoin&from='+date+'&sortBy=publishedAt&apiKey=ecb124a05fd84494b1bed298491f497f',
                    success: function(data){
                        let o;
                        let h = '';
                        for(o in data.articles){
                            let img = '';
                            if(data.articles[o].urlToImage==null){
                                img = 'http://ideabag.net/wp-content/uploads/2018/03/Image-not-found.jpg';
                            }else{
                                img = data.articles[o].urlToImage;
                            }
                            h += '<div class="col-md-6 my-3">'+
                            '<div class="card">'+
                            '<div class="card-header bg-primary text-white" style="height:70px;">'+data.articles[o].title+'</div>'+
                            '<div class="card-body">'+
                                '<div class="row">'+
                                    '<div class="col-md-4">'+
                                        '<img src="'+img+'"  style="width:100%;" alt="">'+
                                    '</div>'+
                                    '<div class="col-md-8">'+data.articles[o].description+
                                        '<br/><a href="'+data.articles[o].url+'" target="_blank" class="btn btn-info mt-2">Read More</a>'+
                                    '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="card-footer">Source : '+data.articles[o].source.name+'</div>'+
                            '</div>'+
                        '</div>';
                        }
                        $('.abcd').html(h);
                        $('.loading-screen').css('display','none');
                    }
                })
            })
        </script>



			<footer class="site-footer bg-dark">
				<div class="container">
					<p>SachTech Solution. All rights reserved</p>

					<div class="social-links">
                            <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.instagram.com/" class="pinterest"><i class="fa fa-instagram"></i></a>
					</div>

				</div>


			</footer>

		
		<script src="{% static "Weather/js/plugins.js" %}"></script>
		<script src="{% static "Weather/js/app.js" %}"></script>

	</body>
</html>
