<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <title>Online Weather</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static "Weather/style.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "BS/css/bootstrap.min.css" %}">
    <link href="{% static "Weather/fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static "Weather/style.css" %}">
		<script src="{% static "Weather/js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "Weather/js/plugins.js" %}"></script>
		<script src="{% static "Weather/js/app.js" %}"></script>
    <script>
		$(document).ready(function(){
			// $('#id_Name').attr("pattern","[A-Za-z]{2,}");
      $('#id_Name').attr("class","form-control");
			$('#id_Email').attr("class","form-control");
      $('#id_Age').attr("class","form-control");
      $('#id_Feedback').attr("class","form-control");

      $('#post').click(function(){
        alert('Thanks for your feedback! Press Ok to continue!! ')
      });

      $('#cmt').click(function(){
        $('#comm').fadeToggle(2000);
      });

		});
	</script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <a href="{% url "index"%}" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Weather</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class='navbar-nav ml-auto text-dark' style='font-size:15px;'>
                    <a href="{% url "index"%}" class='nav-link'>
                      <li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
                    </a>
                    <a href="{% url "days"%}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>3 Days Weather</span></li>
                    </a>
                    <a href="{% url "current"%}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Current Location Weather</span></li>
                    </a>
                    <a href="{% url "latestnews"%}" class='nav-link'>
                        <li class='navbar-item' style='padding-left:20px;'><i class="fab fa-studiovinari" style='font-size:22px;'></i><span style='margin-left:5px;'>Latest News</span></li>
                    </a>
                    <a href="{% url "Weather:feed" %}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;'><i class="fas fa-phone-square" style='font-size:22px;'></i><span style='margin-left:5px;'>Contact Us</span></li>
                    </a>
                    <a href="{% url "WordDict:dict" %}" class='nav-link'>
                      <li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
                    </a>
                  </ul>
            </div>
          </nav>

          <!-- <nav class='navbar navbar-expand navbar-light bg-light fixed-top'>
      			<a href="#" class='navbar-brand'><i class="fas fa-umbrella" style='font-size:38px;padding:0px;margin-right:0px;'></i><span style='font-family:Baskerville Old Face;font-size:38px;padding:0px;margin-left:5px;'>Weather</span></a>
      			<ul class='navbar-nav ml-auto text-white' style='font-size:20px;'>
      				<a href="{% url "index"%}" class='nav-link'>
      					<li class=navbar-item style='padding-left:20px;'><i class="fas fa-home" style='font-size:22px;'></i><span style='margin-left:5px;'>Home</span></li>
      				</a>
      				<a href="#con" class='nav-link'>
      					<li class='navbar-item' style='padding-left:20px;'><i class="fas fa-info" style='font-size:22px;'></i><span style='margin-left:6px;'>Feedback</span></li>
      				</a>
      				<a href="{% url "WordDict:dict" %}" class='nav-link'>
      					<li class='navbar-item' style='padding-left:20px;' class='btn btn-outline-secondary'><i class="fas fa-book" style='font-size:22px;'></i><span style='margin-left:5px;'>Word dictionary</span></li>
      				</a>
              <a id='cmt' class='btn btn-outline-secondary text-dark'>Comments</a>
      			</ul>
      		</nav> -->
        </div>
      </div>
    </div>

      <div class="container-fluid  py-5 my-4" style="background:url('{% static 'Weather/images/map.png'%}'); background-attachment:fixed;">
      <div class="row">
        <div class="col-md-12 text-center text-light py-5 bg-secondary my-5">
          <h1>Contact Us</h1>
          <h2>Leave your anonymous feedback here</h2>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523614!2d76.69247711440084!3d30.71682269345176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1530452125841" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 background-dark pb-0" style=' padding:6.9%; background:rgba(217, 237, 247,0.8)'>
          <form class="form_group" action="" method="post">

            <table>
              {{udata.as_table}}
              {% csrf_token %}
            </table>
            <div class="col-md-4 col-sm-4" id='con'>
                <input class="btn btn-success ml-5 py-2 my-2" id='post' type="submit" value="POST"/>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5" style='display:none' id='comm'>
        <div class="col-md-12">
          <h1 class='text-center text-dark py-3' style='font-weight:bold; font-family:cursive; background:rgba(100,255,255,0.5)'>Comments</h1>
        </div>
        <div class="col-md-12">
          {% if data %}
          <ul class='list-group py-2 my-2'>
          {% for i in data %}
            <h2 class='list-group-item  text-secondary py-5'>  {{ i.Feedback }}<br/>
              <span class='' style='size:10px; font-family:cursive'> -{{i.Name}} on {{ i.Date }}</span>
            </h2>

          {% endfor %}
            </ul>
          {% else%}
          <h1 class='alert alert-danger'>No data </h1>
          {% endif %}
        </div>
      </div>
    </div>

      <footer class="site-footer bg-dark">
        <div class="container">
          <p>SachTech Solution. All rights reserved</p>

          <div class="social-links">
            <a href="https://www.facebook.com/https://www.facebook.com/mukulverma3148" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/u/1/101262537003353085503" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.instagram.com/" class="pinterest"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </footer>
  </body>
</html>
